<div class="row">
  <div class="col"></div>
  <div class="col">
    <h3><i class="fa fa-plus-circle"></i> Add New Post</h3>
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" [(ngModel)]="postTitle" />
    </div>
    <div class="form-group">
      <label for="">Body</label>
      <textarea class="form-control" [(ngModel)]="postBody"></textarea>
    </div>
    <button class="btn btn-success float-right" (click)="addPost()"><i class="fa fa-plus-circle"></i> Add
      Post</button>
  </div>
  <div class="col"></div>
</div>