<div class="row">
  <div class="col"></div>
  <div class="col">
    <h1>Kitten Network</h1>
    <img src="http://placekitten.com/300/300" width="100%" class="img-responsive" />
    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Veniam nam sit adipisci. Id error enim accusantium, a exercitationem quaerat quis in iste
      vitae vel? Neque ipsa tenetur quasi nemo praesentium.</p>
    <a routerLink="/posts" class="btn btn-success float-right"><i class="fa
  fa-check-circle"></i> Get Started</a>
  </div>
  <div class="col"></div>
</div>